<div class="container">

  <br>

  <div class="row justify-content-center">
    <div class="col-md-8 col-xs-12">
      
      <div class="text-center">
        <form class="form-signin">
          <h2 class="h3 mb-3 font-weight-normal" align="center">Log in</h2>
          <label class="sr-only">Username</label>
          <input type="text" class="form-control" placeholder="Username..." [(ngModel)]="username" name="username" required autofocus>
          <label class="sr-only">Password</label>
          <input type="password" class="form-control" placeholder="Password..." [(ngModel)]="password" name="password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Sign in</button>
        </form>
      </div>

    </div>
  </div>

</div>
