<br>

<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      
      <h2>Prenota Aula</h2>

      <form class="form-inline">
        <div>
          <label>Data:</label>
          <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="01/01/2018">
        </div>

        <br>
        <br>

        <label>Orario:</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="01/01/2018">
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="01/01/2018">
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>