<br>

<div class="container">
  <div class="row">
    <div class="col-12">
      
      <div class="jumbotron">
        <h1 class="display-3">Contatti</h1>
        <p class="lead"></p>
        <hr class="my-4">

        <div class="row">
          <div class="col-5 text-center">
            <img src="assets/images/contatti.png" width="256">
          </div>

          <div class="col-6">
            <a class="btn btn-lg btn-primary" target="_blank" href="https://linkedin.com/in/stefanoborzi/" role="button"><fa name="linkedin"></fa> linkedin</a>
            <br><br>
            <a class="btn btn-lg btn-secondary" target="_blank" href="https://github.com/Helias" role="button"><fa name="github"></fa> github</a>
            <br><br>
            <a class="btn btn-lg btn-primary" target="_blank" href="https://facebook.com/Heliasdev/" role="button"><fa name="facebook"></fa> facebook</a>
            <br><br>
            <a class="btn btn-lg btn-success" target="_blank" href="mailto:stefanoborzi32@gmail.com" role="button"><fa name="envelope"></fa> stefanoborzi32@gmail.com</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>